<div class="signup_form">
  <h1>Start Your Collection</h1>

  <form action='/users' method='post'>
    <input class="input" type="text" name="name" id="name" placeholder="Name (required)">
    <br/><br/>
    <input class="input" type="text" name="username" id="username" placeholder="Choose a Username (required)">
    <br/><br/>
    <input class="input" type="password" name="password" id="password" placeholder="Choose a Password (required)">
    <br/><br/>
    <input class="input" type="password" name="password_confirmation" id="password_confirmation" placeholder="Please Confirm your Password (required)">
    <br/><br/>
    <input class="button submit" type="submit" value="Sign Up">
  </form> 

  <% if @user && @user.errors.any? %> 
    <% @user.errors.full_messages.each do |e| %>
        <p class="danger"><%= e %></p>
    <% end %> 
<% end %> 

</div>

