<h3>Delete this Comic Book?</h3>
<form action="/comics/<%= @comic.id %>" method="post">
	<input type="hidden" id="hidden" name="_method" value="delete">
	<input type="submit" value="Confirm Delete">
	<a href="/comics">Cancel</a>
</form>