<div class="centered">
<h2>Delete this Comic Book?</h2>
<form action="/comics/<%= @comic.id %>" method="post">
	<input type="hidden" id="hidden" name="_method" value="delete">
	<input class="button submit" type="submit" value="Confirm Delete">
	<a class="cancel" href="/comics">Cancel</a>
</form>
</div>