<div class="centered">
<% if @comics.count > 0 %>
	<h2>Excelsior!</h2>
		<% @comics.each do |comic| %>
			<a href="/comics/<%=comic.id%>">
				    <article class="comic-box">
			            <p>
			        		<% if comic.anonymous? %>
								<strong>Anonymous - </strong>
							<% else %>
								<strong><%= comic.user.username %> - </strong>
							<% end %>
								<em><%= comic.title %></em>
							</p>
								<%= comic.created_at.strftime("%B %d, %Y at %I:%M%p %Z")%>
					</article>
			</a>
			<br>
		<% end %>
	<% else %>
		<h2>No public comics to display</h2>
	<% end %>
</div>