<div class="centered">
<% if @comics.count > 0 %>
<br/>
	<h2>Excelsior!</h2>

	<form action='/comics/search' method='post'>
		<input class="input" type="text" name="series" placeholder="search"/>
		<input class="submit button" type="submit" value="search">
	</form>	
	<br/>

		<% @comics.sort.reverse.each do |comic| %>
			<a href="/comics/<%=comic.id%>">
				    <article class="comic-box">
			            <p>
							<strong><%= comic.series %> - </strong>
							<%= comic.title %>
							</p>
							<%= comic.created_at.strftime("%B %d, %Y at %I:%M%P")%>
					</article>
			</a>
			<br>
		<% end %>
	<% else %>
		<h2>No public comics to display</h2>
	<% end %>
</div>