

<% if !!@messages %>
    <p class="danger"><%= @messages %></p>
<% end %> 

<div class="centered">
  <h1 >New Comic Book</h1>
  <form action="/comics" method="post">
		<input class="input" type="text" id="title" name="title" placeholder="Title"/>
        <br/><br/>
        <input class="input" type="text" id="series" name="series" placeholder="Series Title"/>
        <br/><br/>
		<input class="input" type="text" id="issue" name="issue" placeholder="Issue Number"/>
        <br/><br/>
		<input class="input" type="text" id="author" name="author" placeholder="Author Name"/>
        <br/><br/>
        <textarea class="input" type="text" id="details" name="details" placeholder="Wanna share more details? (optional)"></textarea>
        <br/><br/>
        <label for="anonymous?">Share Anonymously? </label>
        <input type="checkbox" id="anonymous?" name="anonymous?"/>  
		<label for="public?">Share Publicly? </label>
		<input type="checkbox" id="public?" name="public?"/>
        <br/><br/><br/>
        <input class="button submit" type="submit" value="Share"/>
        <br/><br/>
		<a class="cancel" id="cancel" href="/comics">Cancel</a>
  </form>
</div>