<h2> Welcome </h2> 

<div class="box"> 
    </br>
    <a href="/login" id="login_button">Login</a>
    </br>
    <h3>OR</h3>
    <a href="/signup" id="signup_button">Signup</a></p>
    </br>
</div> 