
<div class="login_page">
    </br>
    <a href="/login" class="button" id="login_button">Login</a>
    <br/><br/><br/>
    <a href="/signup" class="button" id="signup_button">Signup</a></p>
    </br>
</div> 