<div class="login_page">
    <h3>"My theory about why people like superheroes is that when we were kids, we all loved to read fairy tales. Fairy tales are all about things bigger than life: giants, witches, trolls, dinosaurs and dragons and all sorts of imaginative things. Then you get a little bit older and you stop reading fairy tales, but you don't ever outgrow your love of them."</h5>
    <h5>-Stan Lee</h6>
    </br>
    <a href="/login" class="button" id="login_button">Login</a>
    <br/><br/><br/>
    <a href="/signup" class="button" id="signup_button">Signup</a></p>
    </br>
</div> 