<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Comic Book Room</title>
        <link href="/css/style.css" type= "text/css" rel="stylesheet">
    </head>
    <body> 
      
        <nav class="navbar">
          <img class="logo" src="/css/comic_book_room.jpg" alt="comic book room">
          <% if logged_in? %> 
            <% quick_nav = [
              ['Home', '/home', 'Our home page'],
              ['Comics', '/comics', 'Explore'],
              ['Add', '/comics/new', 'Add']
              ] %>
            
              <% quick_nav.each do |item| %>
                <span class=""><a href="<%= item[1] %>" title="<%= item[2] %>"><%= item[0] %>
                </a></span>
              <% end %>
              
          <% end %>    
        </nav>

        <div>
            <% if logged_in? %> 
                <p><a href="/home">Home</a>
                <a href="/comics">Comics</a>
                <form action="/logout" method="post" class="logout">
                 <input type="hidden" name="_method" value="delete">
                 <input type="submit" value="Logout">
                </form>
                </p>
            <% end %> 
        </div> 

        <%= yield %> 

    </body>
</html> 