<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Comic Book Room</title>
        <link href="/css/style.css" type= "text/css" rel="stylesheet">
    </head>
    <body> 
      
        <nav class="navbar">
          <img class="logo" src="/css/comic_book_room.jpg" alt="comic book room">
          <% if logged_in? %> 
            <% quick_nav = [
              ['Logout', '/logout', 'Logout'],
              ['Add', '/comics/new', 'Add'],
              ['Comics', '/comics', 'Explore'],
              ['Home', '/home', 'Our home page']
              ] %>
            
              <% quick_nav.each do |item| %>
                <span class="nav-button"><a href="<%= item[1] %>" title="<%= item[2] %>"><%= item[0] %>
                </a></span>
              <% end %>

          <% end %>    
        </nav>

        <%= yield %> 

    </body>
</html> 